#header{
    opacity: 1 !important;
    background:  #00071C;
}
/* =========================== */
/* My Story Styles */
/* =========================== */
.container-info {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    color: #fff;
    background: #21409a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #21409a, #04a1e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #21409a, #04a1e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

    @media (min-width: 768px) {
      .container-info {
        float: left;
        /*position: fixed;*/
        left: 0;
        top: 0;
        height: 100%;
        width: 50%; } }
  
  
  
  .container-main {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.281);
    background: #21409a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #04a1e5, #21409a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #04a1e5, #21409a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
    @media (min-width: 768px) {
      .container-main {
        float: right;
        /*position: fixed;*/
        right: 0;
        top: 0;
        height: 100%;
        width: 50%; } }
  
  